*{
  padding: 0;
  margin: 0;
}
.div1{
    color: red;
    background-image: url(img_sally/sally_1.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.div2{
    color: blue;
    background-image: url(./img_sally/sally_2.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    
}


.div3{
    color: gold;
    background-image: url(img_sally/sally_3.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    
}
.div4{
    color:black;
    background-image: url(img_sally/sally_4.jpg);
    background-size: cover;
    height:100vh;
    background-attachment: fixed;
    
}
.div5{
    color: violet;
    background-image: url(img_sally/sally_5.jpg);
    background-size: cover;
    height:100vh;
    background-attachment: fixed;
    
}
.div6{
    color: yellow;
    background-image: url(img_sally/sally_6.jpg);
    background-size: cover;
    height:100vh;
    background-attachment: fixed;
    
}
.div7{
    color: pink;
    background-image: url(img_sally/sally_7.jpg);
    background-size: cover;
    height:100vh;
    background-attachment: fixed;
    
}
.div8{
    color: green;
    background-image: url(img_sally/sally_8.jpg);
    background-size: cover;
    height:100vh;
    background-attachment: fixed;
    
}
